pagina-cadastro {
    .bar-clear {
        background: none !important;
    }
  .cadastro_conteudo {
    background: #E64A19;

    ion-row {
       align-items: center;
       text-align: center;
     }

    ion-list {
        border: 1px solid #eeeeee;
        border-radius: 5px !important;
    }

     ion-item {
         font-size: 0.9em;
         border-bottom: 1px solid #eeeeee !important;
         box-shadow: none !important;
     }

     .cadastrar_col {
       margin: 0px 16px 0px 16px;
     }

     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }

     .cadastrar {
       color: #ffffff;
       border-radius: 4px !important;
       text-transform: none;
     }

    .login {
          text-transform: none;
      }

    .logotipo {
        position: absolute;
        background-image: url(../assets/img/logotipo-laranja.png);
        width: 120px;
        height: 120px;   
        left: 0px;
        bottom: 0px;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
  }
}
