pagina-cadastro {
  .back-button {
    color: #E64A19 !important;
  }
  .cadastro_conteudo {
    background-color: #ffdfd2;
    background-image: -webkit-radial-gradient(circle, #ffdfd2, #fdac8a 125px, #f1815e);
    background-image:    -moz-radial-gradient(circle, #ffdfd2, #fdac8a 125px, #f1815e);
    background-image:     -ms-radial-gradient(circle, #ffdfd2, #fdac8a 125px, #f1815e);
    background-image:      -o-radial-gradient(circle, #ffdfd2, #fdac8a 125px, #f1815e);
    background-image:         radial-gradient(circle, #ffdfd2, #fdac8a 125px, #f1815e);

    ion-row {
      align-items: center;
      text-align: center;
    }
    .item-md, .item-ios {
      background-color: #fdfdfd;  
    }
    ion-item {
      font-size: 0.9em;
      border-bottom: 1px solid #eeeeee !important;
      box-shadow: none !important;
    }
    .text-input-md {
      padding-left: 5px;
    }
    .botoes_col {
      margin: 0px 16px 0px 16px;
    }
    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }
    .cadastrar {
      background-color: #FF5722;
      background: -webkit-linear-gradient(-45deg,#FF5722 0%,#E64A19 100%);
      background: -moz-linear-gradient(-45deg,#FF5722 0%,#E64A19 100%);
      background: linear-gradient(135deg, #FF5722 0%, #E64A19 100%);
      border-radius: 4px !important;
      border: none;
      text-transform: none;
    }
  }
}
