page-login {
 
  .login-content {
    background: #4c5969;
      
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         border-radius: 4px !important;
         padding-left: 5px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       //margin: 0px 16px 0px 16px;
       margin: 0;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #FF5722;
       color: #ffffff;
       border-bottom-right-radius: 4px !important;
       border-top-right-radius: 4px !important;
       border: 1px solid #E64A19;
       outline: 0 !important;
     }
 
     .reset-btn {
       color: #ffffff;
       font-size: 0.8em;
     }
      
     .register-btn {
         background: #4CAF50;
         color: #ffffff;
         border-bottom-left-radius: 4px !important;
         border-top-left-radius: 4px !important;
         border: 1px solid #388E3C;
         outline: 0 !important;
     }
  }
 
}