pagina-login {
  .back-button {
    color: #E64A19 !important;
  }

  .login_conteudo {
    background-color: #f9f9f9;

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-list {
      border: 1px solid #eeeeee;
      border-radius: 5px !important;
    }

    ion-item {
      font-size: 0.9em;
      border-bottom: 1px solid #eeeeee !important;
      box-shadow: none !important;
    }

    .text-input-md {
      padding-left: 5px;
    }

    .botoes_col {
      margin: 0px 16px 0px 16px;
    }

    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }

    .login, .cadastro {
      background-color: #ef6933;
      background: -webkit-linear-gradient(-45deg,#ef6933 0%,#af3200 100%);
      background: -moz-linear-gradient(-45deg,#ef6933 0%,#af3200 100%);
      background: linear-gradient(135deg, #ef6933 0%, #af3200 100%);
      border-radius: 4px !important;
      border: none;
      text-transform: none;
    }

    .recuperar {
      color: #b73907;
      font-size: 0.8em;
      text-transform: none;
    }
  }
}
