pagina-login {
  .login_conteudo {
        background-color: #f9f9f9;
        /*background-image: -webkit-linear-gradient( -28deg, #2C2527 0%, #2C2527 68%, #1D191A 68%, #1D191A 68%);
        background-image: -o-linear-gradient( -28deg, #2C2527 0%, #2C2527 68%, #1D191A 68%, #1D191A 68%);
        background-image: -moz-linear-gradient( -28deg, #2C2527 0%, #2C2527 68%, #1D191A 68%, #1D191A 68%);
        background-image: linear-gradient( -28deg, #2C2527 0%, #2C2527 68%, #1D191A 68%, #1D191A 68%);*/

    ion-row {
       align-items: center;
       text-align: center;
     }

    ion-list {
        border: 1px solid #eeeeee;
        border-radius: 5px !important;
    }
     ion-item {
         font-size: 0.9em;
         border-bottom: 1px solid #eeeeee !important;
         box-shadow: none !important;
     }

     .botoes_col {
       margin: 0px 16px 0px 16px;
     }

     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }

     .login, .cadastro {
       background-color: #F45856;
       background: -webkit-linear-gradient(-45deg,#f45856 0%,#a94442 100%);
       background: -moz-linear-gradient(-45deg,#f45856 0%,#a94442 100%);
       background: linear-gradient(135deg,#f45856 0%,#a94442 100%);
       border-radius: 4px !important;
       border: none;
       text-transform: none;
     }

     .recuperar {
       color: #a94442;
       font-size: 0.8em;
       text-transform: none;
     }
  }

}
