pagina-recuperar {
  .recuperar-conteudo {
    background: #E64A19;

    ion-row {
       align-items: center;
       text-align: center;
     }

    ion-list {
        border: 1px solid #eeeeee;
        border-radius: 5px !important;
    }

     ion-item {
         font-size: 0.9em;
         border-bottom: 1px solid #eeeeee !important;
         box-shadow: none !important;
     }

     .recuperar-col {
       margin: 0px 16px 0px 16px;
     }

    ion-footer button {
      margin: 0 !important;
    }
  }
}
