pagina-detalhes-produto {  
  .detalhes-produto {
    background-color: #f6f8fb;

    .slider {
      height: 35%;
    }
  
    .slide-zoom {
      height: 100%;
    }

    .slide-image {
      width: 100%;
      height: 100%;
    }
  
    .swiper-pagination-bullet-active {
      opacity: 1;
      background: #eeeeee;
    }
  }
}
