pagina-loja {
  .produtos {
    background: #f6f8fb;
  }
  .has-refresher  .scroll-content {
    border-top: 0 !important;
  }
  .button-md, .button-ios {
    margin: 0;
  }
  .card-content-md {
    padding: 13px 16px 0px 16px;
  }
  .card-title {
    font-size: 2rem;
  }
}
