pagina-loja {
  .produtos {
    background: #f6f8fb;
  }
  .button-md, .button-ios {
    margin: 0;
  }
  .card-content-md {
    padding: 13px 16px 0px 16px;
  }
  .card-title {
    font-size: 2rem;
  }
}
