pagina-pedidos {
  .back-text {
    display: none !important;
  }
  .pedidos {
    background: #f6f8fb;
  }
  .card-title {
    padding: 0;
    font-size: 18px;
  }
  .cinza {
    border-left: 5px solid #757575;
  }
  .amarelo {
    border-left: 5px solid #FBC02D;
  }
  .verde {
    border-left: 5px solid #00796B;
  }
  .login {
      background: #FF5722;
  }
}
