pagina-pedidos {
  .back-text {
    display: none !important;
  }
  .pedidos {
    background: #f6f8fb;
  }
  .has-refresher  .scroll-content {
    border-top: 0 !important;
  }
  .item-md, .item-ios {
    padding: 0 !important;
  }
  .item-md ion-thumbnail img, .item-ios ion-thumbnail img {
    width: 100px !important;
    height: 80px !important;
  }
  .item-md ion-thumbnail[item-left], .item-ios ion-thumbnail[item-left] {
    margin: 0 5px 0 0 !important;
  }
  .card-title {
    padding: 0;
    font-size: 18px;
  }
  .cinza {
    border-left: 5px solid #9E9E9E;
  }
  .amarelo {
    border-left: 5px solid #FFEB3B;
  }
  .verde {
    border-left: 5px solid #4CAF50;
  }
}
