pagina-pedidos {
  .pedidos {
    background: #f6f8fb;
  }
  .card-title {
    padding: 0;
    font-size: 18px;
  }
  .cinza {
    border-top: 5px solid #9E9E9E;
  }
  .amarelo {
    border-top: 5px solid #FFEB3B;
  }
  .verde {
    border-top: 5px solid #4CAF50;
  }
  .login {
      background: #FF5722;
  }
}
