<ion-header>
  <ion-navbar color="navbar">
    <button ion-button icon-only menuToggle start>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf=!showSearchBar>Sistema</ion-title>

    <ion-searchbar
      *ngIf=showSearchBar
      [(ngModel)]="myInput"
      [showCancelButton]="true"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>

    <ion-buttons end>
      <button ion-button icon-only (click)="toggleShowSearchBar()">
          <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-menu [content]="menu">
  <ion-header>
    <ion-toolbar color="navbar">
        <ion-title>{{nome}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-list>
          <button ion-item (click)="categorias()" menuClose>Categorias</button>
          <button ion-item (click)="pedidos()" menuClose>Pedidos</button>
          <button ion-item (click)="perfil()" menuClose>Perfil</button>
          <button ion-item (click)="sair()">Sair</button>
      </ion-list>
  </ion-content>
</ion-menu>

<!--ion-nav #menu></ion-nav-->

<ion-content #menu class="home card-background-page">
  <ion-card>
    <img src="assets/img/cliente.jpg"/>
    <div class="card-title">JS0101</div>
    <div class="card-subtitle">Informe este código ao atendente, sempre que for realizar compras na loja</div>
  </ion-card>
</ion-content>
