<ion-header no-border>
  <ion-navbar>
    <ion-title *ngIf=!showSearchBar>Sistema</ion-title>

    <ion-searchbar
      *ngIf=showSearchBar
      [(ngModel)]="pesquisa"
      [showCancelButton]="true"
      cancelButtonText="Cancelar"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)"
      autocomplete="on"
      placeholder="Loja">
    </ion-searchbar>

    <ion-buttons end>
      <button ion-button icon-only (click)="toggleShowSearchBar()">
          <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only>
          <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card_background_page">
  <ion-card>
    <img src="assets/img/cliente.jpg"/>
    <div class="card-title">JS0101</div>
    <div class="card-subtitle">Informe este código ao atendente, sempre que for realizar compras na loja</div>
  </ion-card>
</ion-content>
