pagina-home {
  .bar-button-default, .toolbar-title {
    color: #FF5722 !important;
  }

  .card_background_page {
    background: #f6f8fb;

    ion-card {
      position: relative;
      text-align: center;
    }

    .card, .card-md {
      border-radius: 0 !important;
      margin: 0 0 4px 0 !important;
      width: inherit !important;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      padding: 5px;
      top: 52%;
      width: 100%;
      color: #fff;
    }

    .sigla {
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50%;
      background: #ff5722;
      font-size: 20px;
      color: #ffffff;
    }

    .historico {
      margin-top: 8px;
    }

    .apagar_historico {
      float: right;
      text-transform: none;
    }
  }
  .label {
    color: #676767;
  }
}
