<ion-header>
  <ion-navbar color="navbar">
    <button ion-button icon-only (click)="menuCloseSearchBar()" menuToggle start>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf=!showSearchBar>Sistema</ion-title>

    <ion-searchbar
      *ngIf=showSearchBar
      [(ngModel)]="pesquisa"
      [showCancelButton]="true"
      cancelButtonText="Cancelar"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)"
      autocomplete="on"
      placeholder="Loja">
    </ion-searchbar>

    <ion-buttons end>
      <button ion-button icon-only (click)="toggleShowSearchBar()">
          <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-menu [content]="menu">
  <ion-header>
    <ion-toolbar color="navbar">
        <ion-title>{{nome}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-list>
          <button ion-item detail-none (click)="categorias()" menuClose><ion-icon name="list" item-left></ion-icon>Categorias</button>
          <button ion-item detail-none (click)="pedidos()" menuClose><ion-icon name="create" item-left></ion-icon>Pedidos</button>
          <button ion-item detail-none (click)="perfil()" menuClose><ion-icon name="person" item-left></ion-icon>Perfil</button>
          <button ion-item detail-none (click)="privacidade()" menuClose><ion-icon name="lock" item-left></ion-icon>Privacidade</button>
          <button ion-item detail-none (click)="sair()"><ion-icon name="exit" item-left></ion-icon>Sair</button>
      </ion-list>
  </ion-content>
</ion-menu>

<ion-content #menu class="card_background_page">
  <ion-card>
    <img src="assets/img/cliente.jpg"/>
    <div class="card-title">JS0101</div>
    <div class="card-subtitle">Informe este código ao atendente, sempre que for realizar compras na loja</div>
  </ion-card>
  <ion-card>
    <ion-card-header>Lojas acessadas</ion-card-header>
    <ion-list>
      <button ion-item detail-none>
        Loja 1
        <p>Lorem Ipsum é simplesmente uma simulação de texto</p>
      </button>
      <button ion-item detail-none>
        Loja 2
        <p>Lorem Ipsum é simplesmente uma simulação de texto</p>
      </button>
    </ion-list>
  </ion-card>
</ion-content>
